{% extends "Transform/header.html" %}

{% block content %}
<h1>Transform Equation</h1>

<form method="POST">
{% csrf_token %}
  <input type='text' name="equation_in" placeholder="Insert Equation Here"></input>
</form>

{% if print_eq %}
<h4>  Equation in: </h4>
<div lang='latex'>
{{ eq_in }}
</div>

{% if print_steps %}
<ul>
  {% for step,step_text in steps %}
    <h5> {{ step_text }} </h5>
    <li>
      <div lang='latex'>
        {{ step }}
      </div>
    </li>
  {% endfor %}
</ul>
{% endif %}

{% else %}
<h4>Error:</h4>
{{ eq_in }}
{% endif %}


{% endblock %}
